
:root {
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    --Very-dark-blue-main: hsl(217, 54%, 11%);
    --Very-dark-blue-card: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

    background-color: var(--Very-dark-blue-card);
    border-radius: 20px;
    gap: 5px;
    height: 600px;
    width: 350px;
    padding: 10px;
}

.dice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100%;
    padding: 10px;
}

.diceimg {
    width: 100%;
    border-radius: 10px;
    margin-top: -20px;
}

.fundo {
    display: flex;
    justify-content: center;

    background-color: hsl(178, 100%, 50%, 0.3);
    padding: 130px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: absolute;
    transition: 0.3s ease;
    opacity: 0;
    cursor: pointer;
}

.fundo:hover {
    opacity: 1;
}

.view {
    margin-top: 500px;
    position: absolute;
    padding: 125px;
}

.midtexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 15px;
    margin: 10px 20px;
    gap: 10px;
}

.midtexts h2 {
    color: var(--White);
}

.midtexts h2:hover {
cursor: pointer;
color: var(--Cyan);
}

.midtexts p {
    color: var(--Soft-blue);

}

.midicons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    gap: 100px;
    border-bottom: 1px solid var(--Very-dark-blue-line);
    
}

.left {
    display: flex;
    gap: 8px;
    color: var(--Cyan);
}

.right {
    display: flex;
    gap: 8px;
    color: var(--Soft-blue);
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30px;
}

.avatarimg {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1px;
    margin-right: 10px;
    background-color: var(--White);
    border-radius: 50%;
}

.avatar img {
    width: 30px;
    border-radius: 50%;
}

.avatar p {
    font-size: 15px;
    color: var(--Soft-blue);
}

.avatar .p2{
    margin-left: 5px;
    color: var(--White);
    cursor: pointer;
}

.avatar .p2:hover{
color: var(--Cyan);
}

